@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

html,body{
    font-size: 14px;
    font-family: Lato;
    scroll-behavior: smooth;
}

a{
    text-decoration: none;
}

#about{
    transition: ease-in-out;
}

#Experience h2, #contact h2{
    color: #f7f6ff;
    
}

.navbar{
    background: #2C3A47;
}

.header-fixed{
    box-shadow:  12px 15px rgba(140, 152, 164, 0.1);
    background: #2C3A47;
}
.navbar-brand{
    color: #f7f6ff;
    font-weight: 700;
    font-size: 20px;
}

.navbar-nav{
    width: 100%;
    justify-content: flex-end;
}
 .navbar-nav li{
    padding-left: 25px;
 }

.navbar-nav li a{
    color: rgb(255, 255, 255);
    font-size: 16px;
    font-weight: 600;
}



.navbar-toggler{
    box-shadow: none !important;
    border: 1px solid #f7f6ff;
    padding: 6px 10px;
}

@media only screen and (max-width:768px) {
    .navbar-nav li{
        width: 100%;
        float: left;
        padding: 10px 0px 10px 10px;
        border-bottom: 1px solid #f7f6ff;
    }
    #about .container .heading h2{
        color: #f7f6ff;
        }
}

.main-section{
    background-color: #2C3A47;
    padding-top: 50px;
    padding-bottom: 100px;

}

.banner-left h1{
    color: #f7f6ff;
    margin-top: 30%;
    font-size: 20px;
    font-weight: 900;
}

.banner-left h2{
    color: #f7f6ff;
    font-weight: 700;
    font-size: 60px;
}

.banner-left h3{
    color: #292929;
    font-weight: 600;
    font-size: 28px;
    margin-bottom: 30px;
}

.banner-left p{
    font-size: 16px;
    line-height: 30px;
    color: #aebbc2;
}

.head-bottom{
    height: 3px;
    width: 140px;
    margin-bottom: 9px;
    margin-top: 0;
    display: inline-block;
    background-color: #55E6C1;
}

.banner-btn{
    margin-top: 40px;
}

.role{
    color: #55E6C1;
}

button{
    background-color: #55E6C1;
    width: fit-content;
    font-weight: bolder;
    padding: 0.8rem 2.3rem;
    font-size: 17px;
    border-radius: 10px;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    position: relative;
    transition: all 0.5s;
    /* font-weight: 500; */
    border: solid 3px transparent;
    z-index: 1;
    color: white;
}
button:hover{
    border: solid 3px #55E6C1;
    background-color: rgb(231, 231, 231);
    color: black;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

}


.banner-top{
    padding: 40px;
    position: relative;
    margin-top: 80px;
}

.banner-img{
    border-radius: 50% 50% 0% 50%;
    border: 15px solid #f7f6ff !important;
    position: relative;
    z-index: 99;
    overflow: hidden;
    animation: grow 2s;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

}

.banner-img img{
    width: 100%;
}

.banner-top::before{
    content: "";
    background-image: url(images/dots.png);
    position: absolute;
    top:0;
    left: -40px;
    right: 0;
    bottom: 0;
    background-position: left;
    background-size: cover;
    animation-name: rotate;
    animation-duration: 80s;
    animation-iteration-count: infinite;
    
}

@keyframes rotate {
    from{
        transform: rotate(-360deg);
    }
    to{
        transform: rotate(360deg);
    }
}

.banner-top::after{
    content: "";
    position: absolute;
    bottom: 0;
    top: 0;
    left:0;
    width: 200vw;
    border: 20px solid #55E6C1;
    border-radius: 310px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    background-color: #2f3542;
}

.typing{
    position: relative;
    width: fit-content;
    padding-right: 20px;
}


@media only screen and (max-width:768px){
    .banner-left h1{
        margin-top: 80px;
        font-size: 18px;
        font-weight: 600;
    }

    .banner-left h2{
        font-size: 40px;
        margin: 0px;
    }
    .banner-left h3{
        font-size: 22px;
    }

    .banner-left .head-bottom{
        height: 2px;
        width: 90px;
    }
}

.bg-grey{
    background-color: #ced6e0;
}

.heading{
    text-align: center;
    width: 100%;
    float: left;
    padding-bottom: 20px;
}

.heading h5{
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: #f7f6ff;
    font-size: 7vw;
    color: transparent;
    font-weight: 600;
    letter-spacing: 0.8rem;
    opacity: 0.05;
    pointer-events: none;
    margin: 0;
    padding: 0;
}

#about{
    padding-bottom: 20px;
}


.bg-grey h5{
    -webkit-text-stroke-color: #000000;

}

.heading h2{
    font-weight: 600 !important;
    color: #292929;
    margin: 0;
    padding: 0;
    position: relative;
    bottom: 70px;
}

.heading-border{
    height: 4px;
    width: 40px;
    margin-bottom: 10px;
    margin-top: 0;
    display: inline-block;
    background-color: #55E6C1;

}

@media only screen and(max-width:768px) {
    .heading h2{
        bottom: 10px;
        font-size: 18px;
    }

    .heading-border{
        height: 2px;
        width: 20px;
        margin-bottom: 6px;
        margin-top: 0;
    }

        
    
}

.about-img img{
    width: 100%;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}


.about-info h2{
    border-left: 2px solid #55E6C1;
    padding-left: 10px;
    font-size: 18px;
    margin-bottom: 25px;
    margin-top: 25px;
}

.about-info h3{
    font-weight: 500;
    color: #292929;
    font-size: 18px;
    margin-top: 20px;
    padding-left: 10px;
}

.about-info p{
    padding-left: 10px;
    color: #555a64;
    font-size: 15px;
    line-height: 25px;
    margin-top: 15px;
}

.about-info .about-tool{
    display: flex;
    flex-wrap: wrap;
    margin-top: 28px;
    margin-bottom: 32px;
}

.about-info .about-tool span{
    font-size: 13px;
    border: 1px solid rgba(41, 41, 41, 0.1);
    padding: 6px 16px;
    border-radius: 40px;
    margin: 0 5px 5px 0;
    background: #f7f6ff;
}

.about-info .about-work span{
    width: 40px;
    height: 40px;
    line-height: 40px;
    background: #55E6C1;
    color: #f7f6ff;
    vertical-align: top;
    text-align: center;
    border-radius: 50%;
    font-size: 12px;
    float: left;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

}

.about-info .about-work h4{
    margin-left: 5px;
    float: left;
    margin-top: 8px;
    font-weight: 100;
    font-size: 18px;
}

.experience{
    padding: 20px 30px;
background: #f7f6ff;
box-shadow: 0 0.375rem 1.5rem 0 rgba(140, 152, 164, 0.125);
border: 1px solid #e2e8f0;
border-radius: 10px;
margin-bottom: 20px;
}

.experience h5{
    background: #55E6C1;
    display: inline-block;
    font-size: 13px;
    padding: 8px 14px;
    border-radius: 20px;
    color: #f7f6ff;
}

.project-section{
    border: 1px solid #e2e8f0;
    border-radius: 10px;
    box-shadow: 0 0.375rem 1.5rem 0 rgba(140, 152, 164, 0.125);
    margin-top: 30px;
    background: #f7f6ff;
}

.project-section img{
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

.project-section h3{
    margin-top: 20px;
}

.project-section span{
    border: 1px solid lightgray;
    padding: 5px 10px;
    border-radius: 13px;
    float: left;
    margin: 5px 5px 0px 0px;
}

.project-info{
    padding: 20px;
    width: 100%;
    float: left;
}

.mt-4{
    margin-top: 1.5rem !important;
}


@media only screen and(max-width:768px) {
    .project-section h3{
        font-size: 16px;
    }
    
}

.contact-info{
    width: 100%;
    float: left;
    background-color: #f7f6ff;
    padding: 10px 30px 10px 30px;
    border-radius: 8px;
    border: 1px solid #e2e8f0;
    box-shadow: 0 0.375rem 1.5rem 0 rgba(140, 152, 164, 0.125);
    margin-bottom: 20px;
}

.contact-left h3{
    border-left: 2px solid #55E6C1;
    padding-left: 10px;
    color: #565656;
    font-size: 16px;
    font-weight: 600;
    width: 100%;
    float: left;
    margin-top: 20px;
}

.contact-left p{
    padding-left: 10px;
    margin-bottom: 7px;
    width: 100%;
    float: left;
    text-decoration: none;
    color: black;
}

.contact-info ul{
    width: 100%;
    float: left;
    margin-top: 20px;
    list-style: none;
    padding-left: 0;
}

.contact-info ul li{
    float: left;
    padding-left: 10px;
}

.contact-info ul li i{
    font-size: 22px;
    color: black;

}

.contact-form{
    border: 1px solid #e2e8f0;
    padding: 30px;
    border-radius:  8px;
    background-color: #f7f6ff;
    box-shadow: 0 0.375rem 1.5rem 0 rgba(140, 152, 164, 0.125);

}

.contact-form h3{
    border-left: 2px solid #55E6C1;
    padding-left: 10px;
}

.contact-form .form-control{
    padding: 8px;
}

@media only screen and(max-width:768px) {
    .contact-left p{
        padding-left: 10px;
        margin-bottom: 11px;
    }
    
    
}

.footer-section{
    padding-top: 25px;
    padding-bottom: 15px;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.footer-left ul{
    list-style: none;
}

.footer-left ul li{
    float: left;
    padding-left: 10px;
}

.footer-left ul li a{
    color: black;
    font-size: 16px;
}

.footer-right{
    text-align: right;
}

  @keyframes grow {
      0% { transform: translateX(500px);
        opacity: 0;
     }
    100% { transform: translateX(0);
        opacity: 1;
     }
  }
  @keyframes spin {
    to {
      transform: rotateY(5turn);
    }
  }
  
  @media (prefers-reduced-motion: no-preference) {
    @supports (animation-timeline: scroll()) {
      .stars {
        animation: spin linear both;
        animation-timeline: scroll();

      } 
    }
  }

  .stars{
    width: 35px;
    display: inline-block;
  }
  
/* body.dark {background-color: #2f3542;} 

body.dark h1, body.dark h2,body.dark a, body.dark {color: #fff;}


body.dark nav, body.dark {background-color: #2f3542;}


.checkbox {
  opacity: 0;
  position: absolute;
}

.checkbox-label {
  background-color: #111;
  width: 50px;
  height: 26px;
  border-radius: 50px;
  position: relative;
  padding: 5px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.fa-moon-o {color: #ffffff;}

.fa-lightbulb-o {color: #f9ff45;}

.checkbox-label .ball {
  background-color: #fff;
  width: 22px;
  height: 22px;
  position: absolute;
  left: 2px;
  top: 2px;
  border-radius: 50%;
  transition: transform 0.2s linear;
}

.checkbox:checked + .checkbox-label .ball {
  transform: translateX(24px);
} */
